.wrapper {
  width: 100%;
}
.add {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.41px;
  margin-bottom: 15px;
  padding-left: 5px;

  color: #1D1D1D;
}
.balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;

  &__text {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.41px;
    padding-left: 4px;
  }
  &__numbers {
    font-size: 19px;
    line-height: 22px;
    letter-spacing: -0.458235px;
    font-weight: 600;
    color: #24C054;
  }
}