.first {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.41px;

  color: #1D1D1D;
  padding-bottom: 7px;
}

.second {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.337647px;

  color: #1D1D1D;

  mix-blend-mode: normal;
  opacity: 0.5;
}