@import "../../styles/vars";

.wrapper {}

.input {
  background: rgba(240, 240, 240, 0.0001);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #E5E5EA;
  font-size: 15px;
  line-height: 18px;
  padding: 12px 16px;
  &::-webkit-input-placeholder {
    vertical-align: middle;
    color: #1D1D1D;
    mix-blend-mode: normal;
    opacity: 0.4;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.select {
  @extend .input;
  position: relative;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select::after {
  content: "";
  background: red;
  position: absolute;
  right: 8px;
  top: 4px;
  z-index: 10;
  text-align: center;
  width: 10px;
  height: 10px;
}

.active {
  border: 1.5px solid $violet-blue;
}

.error {
  border: 1px solid $red_font;
}

.blue {
  background-color: #e6f9f5;
}

.errorMsg {
  margin-top: 4px;
  text-align: center;
  font-size: 12px;
  color: red;
}