.wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.backIcon {
  img {
    margin: 2px 0 0 5px;
    width: 30px;
    height: 30px;
    padding: 7px;
  }
}
.label {
  font-size: 19px;
  font-weight: 600;
  padding: 14px 0;
}
.menu {
  img {
    margin: 2px 5px 0 ;
    width: 28px;
    height: 28px;
  }
}