.wrapper {
  padding-top: 10px;
  .container {
    background-color: #FFFFFF;
    border-radius: 11px;
    padding: 20px 25px;
  }
}
.title {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.554706px;

  color: #000000;
}
.time {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 22px;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;

    .opacity_time {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: -0.361765px;

      color: #8E8E93;
    }
    .open_time {
      font-size: 16px;
      line-height: 19px;

      letter-spacing: -0.361765px;

      color: #222222;
    }
  }

  .move_button {
    background-color: #FFFFFF;
    height: 12px;
  }
}
.graphic {

}