.wrapper {
  width: 100%;
  padding: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  justify-items: center;
}

@media (min-width: 350px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 767px) {

}
@media (min-width: 1200px) {

}

