@import "../../styles/vars";

.btn {
  width: 100%;
  text-align: center;
  padding: 15px 5px;
  border-radius: 30px;
  font-size: 15px;
  line-height: 18px;
  position: relative;
}
.btn_gradient {
  @extend .btn;
  background: $gradient;
  color: #ffffff;
}
.btn_white {
  @extend .btn;
  background-color: #fff;
  border: 1.5px solid #E5E5EA;
}
.btn_black {
  @extend .btn;
  background: black;
  color: white;
}
.btn_grey {
  @extend .btn;
  background: #E5E5E9;
  color: #838383;
}
.btn_red {
  @extend .btn;
  background: $red_bg;
}
.btn_vk {
  @extend .btn;
  background-color: #fff;
  border: 1.5px solid #E5E5EA;
}
.btn_sex {
  @extend .btn;
  background-color: #fff;
  border: 1px solid #E5E5EA;
  color: #A4A4A4;
  .icon {
    left: 7%;
  }
}
.icon {
  width: 26px;
  height: 26px;
  left: 17px;
  position: absolute;
  top: calc(50% - 13px);
}
.icon_man {
  @extend .icon;
  top: calc(50% - 15px);
}
.btn_google {
  @extend .btn_vk;
}
.btn_active {
  border: 1.5px solid $violet-blue;
}
.btn_white_gradient {
  @extend .btn;
  background: rgba(222, 222, 222, 0.0001);
  border: 10px solid $gradient;
}


//@media (min-width: 767px) {
//  .btn {
//    padding: 18px 5px;
//    border-radius: 30px;
//    font-size: 18px;
//    line-height: 20px;
//  }
//}
//@media (min-width: 1200px) {
//  .btn {
//    padding: 15px 5px;
//    border-radius: 30px;
//    font-size: 15px;
//    line-height: 18px;
//  }
//}
