@import "../../styles/vars";

.wrapper {
  background-color: #fff;
  width: 95%;


  //margin-left: 20px;
  //margin-right: 20px;

  background-color: #fff;

  hr {
    opacity: 0.4;
  }
}


@media (min-width: 767px) {

}
@media (min-width: 1200px) {

}
