.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  overflow: hidden;
}

.main {
  padding: 20px 25px;
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;
}

.title {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &__info {
    margin-left: 9px;
    margin-top: 3px;
    width: 18px;
    height: 18px;
  }
}

.label {
  font-size: 15px;
  line-height: 18px;
  color: #8E8E93;
  margin-bottom: 10px;
}

.sum {
  padding-bottom: 21px;
  overflow: hidden;

  .money {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    padding-bottom: 21px;
    max-width: 100%;

    &__green {
      display: inline;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      margin-left: 3px;
      letter-spacing: -0.313529px;
      color: #45C500;

      &:first-child {
        margin-left: 2px;
      }
    }
  }
}

@media (max-width: 350px) {
  .main {
    padding: 15px 20px;
  }
  .sum {
    .money {
      font-size: 21px;
    }
  }
}

@media (min-width: 1024px) {
  .wrapper {
    border-radius: 30px;
  }
  .main {
    padding: 40px 35px;
    border-radius: 30px;
  }
}