.wrapper {
  display: inline;
  &__item {
    border: 2px solid #E5E5EA;
    border-radius: 18px;
    height: 35px;
    display: inline-block;
    //margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    color: #1D1D1D;
  }

  &__btn {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.361765px;
    border-radius: 18px;
    text-align: center;

    height: 100%;
    width: 100%;
    background-color: white;

    padding: 5px 10px;
  }
}