.wrapper {
  padding: 0 16px;
}

.paysystem {
  text-align: center;
  margin-bottom: 15px;
}

.firm {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.313529px;

  margin-left: -6px;

  color: #8E8E93;
}
.support {
  @extend .firm;
  margin-left: 0;
  margin-right: -6px;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
