.wrapper {
  width: 100%;
  padding: 25px 15px 0;
  position: relative;
}
.title {
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  margin: 0 0 25px 0;
}
.payInBlock {
  background-color: #fff;
  margin: 0 0 30px 0;
  display: flex;
  border-radius: 10px;
  .balance {
    color: #00cf7b;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
  }
  .btn {
    width: 50%;
  }
}
.menuBtn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 18px;
}