@import "../../../../styles/vars";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  //background-color: red;
}

.titleContainer {
  display: flex;
  flex-direction: row;
}

.message {
  padding: 0 16px;
  max-width: 80% ;
  font-size: 15px;
  line-height: 18px;
  color: #868686;
}

.title {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.41px;

  height: 20px;
  color: #000000;
}

.info_icon {
  background-color: #FFFFFF;
  border: none;
  width: 18px;
  height: 18px;
  padding-left: 9px;
  padding-top: 1.5px;
}

.info {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.361765px;

  color: #8E8E93;
  padding-top: 15px;
  padding-bottom: 10px;
}

.cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10.5px;
  padding-bottom: 10px;

  &__text {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.361765px;

    color: #000000;
  }

  &__green_cont {
    background: rgba(0, 186, 50, 0.183403);
    border-radius: 17px;
  }
}

.rate {
  width: 86px;
  height: 32px;

  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.41px;

  padding-top: 6px;

  color: #00BA32;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__channel {
    flex: 1 1 38%;
    //&:after {
    //  content: '';
    //
    //  display: block;
    //  position: absolute;
    //  top: 0;
    //  right: 0;
    //  bottom: 0;
    //  left: 0;
    //  z-index: 0;
    //  margin: -5px;
    //
    //  border-radius: 11px;
    //  background: $gradient;
    //}
  }
  &__check {
    flex: 1 1 62%;
    padding-left: 10px;
  }

}
.cCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding-top: 25px;

}

.cancel {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.361765px;
  height: 18px;

  color: #FF3B30;
  background-color: #FFFFFF;
}

.borderLine {
  padding-bottom: 11.5px;
}

@media (min-width: 767px) {
}

@media (min-width: 1200px) {

}
