.wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 220px;
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;
}

.mainText {
  width: 592px;
  //padding-top: 294px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &__earn {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: -1px;
    justify-self: flex-start;
    font-weight: bold;
  }

  &__content {
    font-size: 28px;
    line-height: 33px;

    width: 428px;
    height: 66px;

    align-self: flex-start;

    color: #8E8E93;

    padding-top: 25px;
  }

  &__createBtn {
    width: 252px;
    height: 72px;

    margin-top: 50px;
  }
}

.mainPic {
  height: 100%;
  width: 40%;
  margin-bottom: 120px;
}

@media (max-width: 1600px) {
  .mainText {
    &__earn {
      font-size: 87px;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1300px) {
  .wrapper {
    padding-left: 100px;
  }
  .mainText {
    &__earn {
      font-size: 84px;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }

  .mainText {
    width: 266px;
    height: 210px;
    padding-top: 0;

    &__earn {
      font-size: 34px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.369565px;
      justify-self: center;

      height: 82px;
    }

    &__content {
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      width: 243px;
      justify-self: center;
      padding-top: 8px;
      padding-left: 0px;
    }

    &__createBtn {
      margin-top: 30px;
      justify-self: center;
    }
  }

  .mainPic {
    padding-top: 40px;
    width: 100%;
    margin-bottom: 0;
  }


}

// mobile
@media (max-width: 767.98px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }

  .mainText {
    width: 266px;
    height: 210px;
    padding-top: 0;

    &__earn {
      font-size: 34px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.369565px;
      justify-self: center;

      height: 82px;
    }

    &__content {
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      width: 243px;
      justify-self: center;
      padding-top: 8px;
      padding-left: 0px;
    }

    &__createBtn {
      margin-top: 30px;
      justify-self: center;
    }
  }
  .mainPic {
    padding-top: 40px;
    width: 100%;
  }
}

