.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  background-color: #fff;
  border-radius: 14px;
  margin-bottom: 10px;
}
.container {
  display: flex;
  &__image {

  }
}
.title {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.41px;
  font-weight: 800;
  margin-bottom: 24px;
}
.image {
  width: 77px;
  height: 51px;
  margin-right: 22px;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: -6px;
  padding-left: 22px;

  &__large {
    font-size: 19px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: -0.458235px;
    padding-bottom: 4px;

    color: #000000;
  }
  &__little {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.313529px;
    padding-bottom: 4px;

    color: #8E8E93;
  }
  &__little_2 {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.313529px;
    font-weight: 300;
    padding-top: 3px;

    color: #8E8E93;
  }
}

@media (max-width: 350px) {
  .wrapper {
    padding: 15px 20px;
  }
}

@media (max-width: 310px) {
  .wrapper {
    padding: 12px 17px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    border-radius: 30px;
  }
}