.wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: linear-gradient(180deg, #FAFAFA 0%, #FFFFFF 81.14%);
  padding-top: 100px;
  padding-bottom: 127px;
}
.bold {
  font-size: 76px;
  line-height: 89px;
  font-weight: 600;
  letter-spacing: -1.83294px;

  color: #000000;
}
.little {
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -0.627059px;

  padding-top: 19px;

  color: #8E8E93;
}

@media (min-height: 991px) and (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bold {
    padding-top: 55px;
  }
  .little {
    padding-top: 3px;
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 35px;
  }
  .bold {
    font-size: 32px;
    line-height: 37px;
    font-weight: bold;
    letter-spacing: -0.771765px;
    padding-top: 35px;

    color: #1D1D1D;

  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .little {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.361765px;
    padding-top: 3px;

    color: #8E8E93;
  }
}
