$backColor: #E5E5EA;
.container {
  padding-bottom: 90px;
  padding-top: 6px;
}
.main {
  padding: 6px 10px;
}
.title {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.41px;
  font-weight: bold;

  margin-bottom: 19px;

  color: #1D1D1D;
}

.notification {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  align-items: center;

  border: 1px solid $backColor;
  border-radius: 14px;
  height: 52px;
  padding-left: 15px;
}
// это попытки изменить карту
.input {
  &:checked + .card {
    $backColor: blue;
    border: 1.4px solid $backColor;
  }
}

.data {
  display: flex;
  justify-content: space-between;

  padding-left: 17px;
  padding-right: 20px;
  width: 100%;

  &__way {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.361765px;

    color: #1D1D1D;
  }

  &__number {

  }
}

.save {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.41px;

  margin-bottom: 15px;

  color: #1D1D1D;
}

.connectText {
  padding-right: 50px;
}

.connect {
  display: flex;
  justify-content: space-between;

  padding: 15px 0;

  &__mailType {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.41px;

    color: #1D1D1D;
  }
  &__mail {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.41px;

    color: #2B44F2;
  }
}

@media (max-width: 350px) {
  .connectText {
    padding-right: 0;
  }
}

// middle
@media (max-width: 767px) {

}
