.container {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .label {
    font-size: 13px;
  }
  .btn {
    width: 100%;
    margin-bottom: 10px;
    &:nth-child(2) {
      margin-bottom: 25px;
    }
  }
  .btn_submit {
    width: 100%;
    margin: 9px 0 0;
  }
}


@media (min-width: 767px) {
  .container {
    padding: 40px 30px 56px;
    .title {
      font-size: 33px;
      padding-bottom: 40px;
    }
    .label {
      font-size: 15px;
    }
    .btn {
      margin-bottom: 20px;
      &:nth-child(2) {
        margin-bottom: 60px;
      }
    }
    .btn_submit {
      margin: 15px 0 0;
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .title {
    font-size: 42px;
  }
  .container {
    height: 100%;
    max-width: 57%;
    position: static;
    border-radius: 0;
    padding: 30px 200px 46px;
    .title {
      font-size: 33px;
      padding-bottom: 40px;
    }
    .label {
      font-size: 15px;
    }
    .btn {
      margin-bottom: 20px;
      &:nth-child(2) {
        margin-bottom: 60px;
      }
    }
    .btn_submit {
      margin: 15px 0 0;
    }
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 60%;
  }
}
