.wrapper {
  width: 100%;
  height: 100%;
  background-color: #e6f9f5;
  position: relative;
}
.backBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -55px;
  left: 8px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #fff;
  padding: 10px;
  img {
    width: 100%;
    height: 100%;
  }
}
.refBlock {
  background-color: #fff;
  width: 90%;
  margin: 70px auto 0;
  padding: 20px 15px;
  border-radius: 15px;
  .title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 20px 0;
  }
  .input {
    margin: 0 0 10px 0;
  }
}
.statsBlock {
  margin: 30px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  .item {
    padding: 15px 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border-radius: 10px;
    .numbers {
      font-size: 30px;
      font-weight: 600;
      color: #00cf7b;
    }
    .label {
      font-size: 16px;

    }
  }
  .item:nth-child(1) {
    margin: 0 10% 0 0;
  }
}
.taskBlock {
  background-color: #fff;
  width: 90%;
  margin: 30px auto 0;
  padding: 20px 15px;
  border-radius: 15px;
  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .label {
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 1.2;

    .refsCount {
      font-weight: 600;
      color: #00cf7b;
    }
    b {
      color: red;
      font-size: 18px;
    }
  }
  .note {
    margin: 25px 0 0;
    font-size: 12px;
    line-height: 1.2;
  }

}
.underline {
  text-decoration: underline;
}
