@import "../../styles/fonts";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 36px;
  position: absolute;
  top: 60px;
  left: 100px;
}
.image {
  width: 28px;
  height: 35px;
  margin-right: 5px;
}

.name {
  font-family: 'Riffic', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
}