@import "../../styles/fonts.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20.33px;
  height: 26.18px;
  left: 20.65px;
  top: 12.65px;
  z-index: 999;
}
.image {
  width: 28px;
  height: 35px;
  margin-right: 5px;
}

.name {
  font-family: 'Riffic', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  display: none;
}

@media (min-width: 767px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .wrapper {
    width: 142px;
    height: 36px;
    top: 20px;
    left: 30px;
  }
  .name {
    display: block;
  }
}