.wrapper {
  width: 100%;
}
.block {
  margin-bottom: 20px;
}
.input {
  margin-bottom: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  * {
    flex: 1 1 50%;

    &:first-child {
      margin-right: 10px;
    }
  }
}
.createAcc {
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.313529px;
  padding-top: 5px;
  margin-bottom: 45px;

  color: #8E8E93;
}