.wrapper {
  padding: 10px;
}


.info {
  background-color: #fff;
  margin: 80px 10px;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  a {
    text-decoration: underline;
    color: blue;
  }
}