.wrapper {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.container {
  background: #FFFFFF;
  border-radius: 14px;
  width: 100%;
  padding: 20px;
}
.author {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.337647px;
  margin-bottom: 7px;

  color: #8E8E93;
}
.message {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.41px;
}