.wrapper {
  width: 100%;
  padding: 10px;
}
.enter {
  background-color: #FFFFFF;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px 25px;
  border-radius: 14px;

  &__text {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.41px;

    color: #1D1D1D;
  }
  &__btn {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    background-color: #FFFFFF;
    letter-spacing: -0.385882px;

    color: #FF3B30;
  }
}