.wrapper {
  width: 100%;
  padding: 10px;
}




.container {
  background-color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 20px 25px;
  border-radius: 14px;
  margin-bottom: 10px;
  &__text {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.41px;

    color: #1D1D1D;
  }
  &__btn {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    background-color: #FFFFFF;
    letter-spacing: -0.385882px;

    color: #FF3B30;
  }
}

.lang {
  @extend .container;
  justify-content: space-between;
  .label {
    font-size: 19px;
    letter-spacing: -0.458235px;
    color: #000000;
    margin-right: 5px;
  }
}

@media (min-width: 760px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 70%;
  }
}