.wrapper {
  width: 100%;
  margin-bottom: 140px;
}
.message {
  text-align: center;
  margin: 30px auto;
  padding: 0 30px;
  p {
    line-height: 1.1;
    a {
      color: blue;
      text-decoration: underline;
    }
  }
}