.wrapper {
  width: 100%;
  padding-bottom: 25px;
}

.input {
  padding-bottom: 10px;
}
.row {
  display: flex;
  .btn {
    flex: 1 1 60%;
    margin-right:10px;
  }
  .submitBtn {
    flex: 1 1 40%;
  }
}