.wrapper {
  width: 100%;
  padding-top: 10px;
  max-width: 100%;
  overflow: hidden;
}

.main {
  padding: 20px 25px;
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;
}

.label {
  font-size: 15px;
  line-height: 18px;
  color: #8E8E93;
  margin-bottom: 15px;
}

.money {
  width: 100%;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.profit {
  font-weight: 500;
  font-size: 13px;
  overflow: hidden;
  line-height: 16px;
  max-width: 100%;
  letter-spacing: -0.313529px;
  color: #45C500;

  &:first-child {
    margin-left: 2px;
  }

}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  overflow: hidden;

  .column {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 0 33.33%;
    width: 33.33%;
    margin-right: 3px;
  }

  .last {
    margin-right: 0;
  }

  .size {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.361765px;

    padding-bottom: 1px;

    color: #8E8E93;
  }

  .money_2 {
    overflow: hidden;
    max-width: 100%;
    @extend .money;
    font-size: 20px;
    line-height: 29px;
  }
}

@media (max-width: 350px) {
  .footer {
    .column {
      max-width: 81px;
    }

    .money_2 {
      font-size: 17px;
    }
  }
  .main {
    padding: 15px 20px;
  }

}

@media (min-width: 351px) {
  .footer {
    .column {
      max-width: 93px;
    }
  }
}

@media (min-width: 400px) {
  .footer {
    .column {
      max-width: 110px;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    .column {
      max-width: 140px;
    }
  }
}

@media (min-width: 1024px) {
  .wrapper {
    height: 100%;
  }
  .main {
    padding: 40px 35px;
    border-radius: 30px;
  }
  .label {
    font-size: 15px;
    margin-bottom: 12px;
  }
  .money {
    font-size: 22px;
  }
}

@media (min-width: 1680px) {
  .wrapper {
    height: 100%;
    //padding: 60px 50px;
    border-radius: 30px;
  }
  .label {
    margin-bottom: 20px;
    font-size: 17px;
  }
  .money {
    font-size: 32px;
    line-height: 37px;
  }
}

@media (max-width: 300px) {
  //.wrapper {
  //  padding: 12px 17px;
  //}
}