.wrapper {
  padding-top: 26px;
  padding-left: 20px;
}

.title {
  display: flex;
  align-items: center;
  padding-left: 10px;

  &__text {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: -0.868235px;
  }

  .plusButton {
    margin-left: 10px;
    background: rgba(62, 64, 242, 0.103584);
    border-radius: 24px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    .plusImg {
      width: 12px;
      height: 12px;
    }
  }
}

.campaignsList {
  padding-top: 12px;
  display: flex;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
}

@media (min-width: 1024px) {
  .title {
    &__text {
      font-size: 23px;
      line-height: 27px;
      letter-spacing: -0.554706px;
    }

    .plusButton {
      width: 38px;
      height: 38px;

      .plusImg {
        width: 14px;
        height: 14px;
      }
    }
  }
}