@import "../../../../../styles/vars";

.card {
  padding: 50px 50px 0;
  background-color: #fff;
  margin-top: 25px;
  border-radius: 30px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 40px;
}

.leftContainer {
  display: flex;
}

.title {
  font-size: 32px;
  line-height: 37px;
  font-weight: 600;
  letter-spacing: -0.771765px;
  color: #000000;
}

.description {
  font-size: 17px;

  line-height: 20px;
  padding-top: 25px;
  color: #8E8E93;
}

.info {
  font-size: 19px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.458235px;
  padding-top: 15px;
  color: #000000;
}
.vertLine {
  display: block;
  height: 100%;
}

.cost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10px;

  &__text {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.41px;

    color: #8E8E93;
  }

  &__rate {
    font-weight: 600;
    padding-top: 10px;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: -0.916471px;

    padding-bottom: 20px;

    color: #00D439;
  }
}

.btnContainer {
  padding-left: 30px;
  margin-bottom: 40px;
}

.btn {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  &__infoIcon {
    width: 24px;
    height: 24px;
  }

  &__infoContainer {
    flex: 1 1 45%;
    padding-left: 10px;
  }
}

.check {
  padding-top: 10px;
}

.cCont {
  padding-top: 10px;
}

.message {
  padding: 35px 25px 0;
  max-width: 80%;
  font-size: 15px;
  line-height: 18px;
  color: #868686;
}

@media (min-width: 1200px) {

}

@media (min-width: 1600px) {
  .card {
    padding: 60px 60px 0;
  }
}
