.wrapper {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 14px;
}
.title {
  margin: 0 0 20px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
}

.stats {
  display: flex;
  justify-content: space-between;
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 90px;
    justify-content: flex-start;
    flex: 0 0 33.33%;
    .value {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 19px;
      line-height: 22px;
    }
    .prop {
      margin-bottom: 8px;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: -0.313529px;
      color: #8E8E93;
    }
  }
}


@media (min-width: 350px) {
  .wrapper {
    grid-column: 1/3;
  }
}
@media (min-width: 767px) {

}
@media (min-width: 1200px) {

}