.wrapper {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 14px;
}
.title {
  margin: 0 0 20px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
}

.stats {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 90px;
    justify-content: flex-start;
    flex: 0 0 33.33%;
    .value {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 19px;
      line-height: 22px;
    }
    .prop {
      margin-bottom: 8px;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: -0.313529px;
      color: #8E8E93;
    }
  }
}


@media (min-width: 1024px) {
  .wrapper {
    padding: 40px 35px;
    border-radius: 30px;
    height: 100%;
  }
  .title {
    font-size: 26px;
    margin-bottom: 50px;
    line-height: 32px;
  }
  .stats {
    &__item {
      max-width: 100px;
      .value {
        font-size: 27px;
      }
      .prop {
        margin-bottom: 22px;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 1680px) {
  .wrapper {
    padding: 65px 60px;
  }
  .title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 62px;
  }
  .stats {
    &__item {
      max-width: 150px;
      .value {
        font-size: 38px;
        line-height: 45px;
      }
      .prop {
        margin-bottom: 22px;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}