.main {
    background-color: white;
    padding-left: 10px;
    border-radius: 10px;
}

.txt {
    padding-top: 25px;
    font-size: 15px;
    -webkit-filter: none;
    color: grey;
}

.button {
    position: absolute;
    top: 2px;
    right: 8px;
    color: black;
    background-color: white;
    font-size: 25px;
}