.wrapper {
  background-color: #FFFFFF;
  width: 100%;
  padding: 30px;
  border-radius: 14px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;

  .header {
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: -0.41px;
  }

  .crossBtn {
    background-color: #FFFFFF;
    width: 12px;
    height: 12px;
  }
}

.percent_header {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -0.41px;
  padding-top: 10px;
  margin-bottom: 5px;
}

.text {
  padding-top: 10px;
}

@media (min-width: 767px) {
  .wrapper {
    width: 80%;
  }
}