.wrapper {
  width: 100%;
}

.main {
  background: #FFFFFF;
  border-radius: 14px;
  padding: 20px 25px;
}

.title {
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.referralDescription {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.313529px;
  margin-bottom: 9px;

  color: #8E8E93;
}

.row {
  display: flex;
  flex-direction: column;

  .input {
    flex: 1 1 100%;
  }

  .btn {
    padding-top: 6px;
  }
}

.statsBlock {
  display: flex;
  //justify-content: space-around;
  //align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    //background-color: blue;

    .numbers {
      font-size: 19px;
      line-height: 22px;
      font-weight: 700;
      text-align: left;

      .men {
        //width: 9px;
        //height: 9px;
        padding-left: 4px;
        padding-top: 5.9px;
      }
    }

    .label {
      font-size: 13px;
      line-height: 15px;
      color: #8E8E93;
      margin-bottom: 9px;
    }
  }

  .money_item {
    @extend .item;
    align-items: center;
  }
}

.btnCopied {
  background: #00BA32;
}

.refPeople {

  &__container {
    //background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__level {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.313529px;

    color: #8E8E93;
  }

  .numbers_container {
    display: flex;
    align-items: center;
  }

  &__numbers {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.313529px;
    margin-right: 2px;
  }
}

.separator {
  display: block;
  height: 40px;
  padding: 0 12px;
  //height: 100%;
  //background-color: #1D1D1D;
  //background-color: red;
}

@media (max-width: 350px) {
  .main {
    padding: 15px 20px;
  }
}


@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    flex-direction: column;

  }
  .main {
    padding: 40px 35px;
    border-radius: 30px;
  }
  .title {
    font-size: 26px;
    //margin-bottom: 18px;
    line-height: 32px;
  }
  .row {
    flex-direction: column;
    align-items: flex-start;

    .input {
      width: 100%;
    }

    .btn {
      width: 100%;
      margin-top: 18px;
      margin-bottom: 10px;
    }
  }
  .statsBlock {
    display: flex;
    //flex-direction: column;
    margin-left: 15px;

    .item {
      width: 50%;
      border-radius: 10px;

      .numbers {
        font-size: 27px;
        line-height: 22px;
      }

      .label {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 13px;
      }
    }
  }
}

@media (min-width: 1680px) {
  .wrapper {
    //padding: 65px 60px;
    border-radius: 30px;
    max-height: 350px;
  }
  .title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 20px;
  }
  .row {
    .input {
      width: 100%;
    }

    .btn {
      width: 70%;
      margin-top: 18px;
    }
  }
  .statsBlock {
    margin-left: 25px;

    .item {
      width: 50%;
      border-radius: 10px;

      .numbers {
        font-size: 34px;
        line-height: 40px;
      }

      .label {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 300px) {
  //.wrapper {
  //  padding: 12px 17px;
  //}
}