.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 18px;
  background-color: #fff;
}
.title {
  width: 100%;
  font-weight: 500;
  font-size: 21px;
  margin: 0 0 10px 0;
}
.description {
  line-height: 1.2;
  width: 100%;
  font-size: 15px;
  color: #8D9593;
  margin: 0 0 15px 0;
}

.instruction {
  width: 100%;
  padding: 25px 5px 15px;
  .title {
    font-size: 26px;
    font-weight: 600;
  }
  .item {
    font-size: 19px;
    padding: 10px 0 0 ;
    &:first-letter{
      font-weight: 600;
    }
  }
}
.btnGroup {
  width: 100%;
}
.btnItem {
  width: 100%;
  display: flex;
  margin: 0 0 10px 0;
  .btn {
    flex: 1 1 70%;
  }
  .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%;
    margin: 0 0 0 15px;
    .rub {
      text-transform: uppercase;
      color: #67CE8C;
      font-size: 24px;
    }
    .label {
      font-size: 14px;
    }
  }
}