.wrapper {
  width: 100%;

}
.container {
  padding: 10px ;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width: 992px) {
  .wrapper {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 90%;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    width: 80%;
  }
}
@media (min-width: 1680px) {
  .wrapper {
    width: 75%;
  }
}