.wrapper {
  width: 100%;
}
.container {
  padding: 10px ;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media (min-width: 767px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 70%;
    margin: 0;
  }
}

@media (min-width: 1680px) {
  .wrapper {
    width: 65%;
  }
}