.wrapper {
  width: 100%;
  height: 100%;

  padding: 20px 25px;
  background-color: #FFFFFF;
  border-radius: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  padding-right: 2%;

  .purchase {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.41px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #1D1D1D;
  }

  .numbers {
    display: inline-block;
    padding-right: 5px;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.675294px;
    font-weight: bold;
  }

}

.allSum {
  margin-bottom: 10px;
}

.Input {
  width: 100%;
  height: 42px;

  background: rgba(240, 240, 240, 0.0001);
  border: 1px solid #E5E5EA;
  border-radius: 30px;

  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.361765px;

  color: #1D1D1D;
}

.container {
  display: flex;
  //justify-content: space-between;

  padding-top: 24px;
  margin-bottom: 25px;
  .separator {
  }
  &__left {
    display: flex;
    justify-content: space-around;
    align-items: center;

    max-width: 500px;
  }
  &__right {
    display: flex;
    align-items: center;
    width: 56%;
  }
}
.title {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.41px;
  font-weight: 800;
}
.image {
  width: 77px;
  height: 51px;

  margin-right: 21px;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: -8px;
  padding-left: 24px;
  width: 100%;

  &__large {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    letter-spacing: -0.458235px;

    color: #000000;
  }
  &__little {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.313529px;
    margin-bottom: 3px;

    color: #8E8E93;
  }
}

.profitability {
  display: flex;
  justify-content: space-between;

  //margin-bottom: 14px;

  &__container {
    flex: 1 1 35%;
    margin-right: 6px;
  }

  &__Btn {
    //border: 1px solid blue;
    //padding: 12px 10px;
    //
    //width: 100%;
    //border-radius: 11px;
    //background-color: #FFFFFF;
    //
    //font-size: 14px;
    //line-height: 16px;
    //text-align: center;
    //letter-spacing: -0.337647px;

    color: #000000;
    flex: 1 1 48%;
    align-self: center;
  }
  .greenPercent {
    color: #24C054;
  }
}
.plusButton {
  background-color: #FFFFFF;
  width: 17px;
  height: 17px;
  display: inline;
  align-self: center;
}

@media (max-width: 316px) {
  .wrapper {
    padding: 12px 17px;
  }
  .purchase {
    margin-right: 6px;
  }
  .numbers {
    width: 80px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.675294px;
    margin-right: 3px;
  }
  .text {
    padding-right: 0;
  }
}

@media (min-width: 500px) {
  
}