.wrapper {
  padding: 32px 0 0;
  width: 100%;
  background: #FFFFFF;
  max-height: 250px;
  overflow-y: auto;
}
.crossContainer {
  display: flex;
  justify-content: flex-end;
  height: 12px;
}
.cross {
  background-color: #FFFFFF;
}
.title {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
}
.history {
  max-height: 170px;
  overflow-y: auto;
  .historyItem {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-right: 10px;
    .operation_green {
      font-size: 17px;
      color: #24C054;
    }
    .operation_red {
      @extend .operation_green;
      color: #ED0000;
    }
    .date {
      font-size: 14px;
      color: #8E8E93;
    }
    .row {
      display: flex;
      align-items: flex-end;
    }
    .type {
      font-weight: 300;
      font-size: 13px;
      letter-spacing: -0.313529px;
      color: #8E8E93;
      margin-left: 5px;
    }

  }
}



@media (min-width: 1680px) {
  .wrapper {
    padding: 65px 60px
  }
  .title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 53px;
  }
  .history {
    max-height: 230px;
    .historyItem {
      padding-bottom: 10px;
      padding-right: 15px;
      .operation_green {
        font-size: 17px;
        line-height: 20px;
      }
      .date {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

}