.wrapper {
  width: 100%;
  padding-bottom: 25px;
}

.input {
  padding-bottom: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  .input:first-child {
    margin-right: 10px;
  }
  .btn {
    flex: 1 1 60%;
    &:first-child {
      margin-right:10px;
    }
  }
  .submitBtn {
    flex: 1 1 40%;
  }
}